/**************************
 ** Page and tags        **
 **************************/

html {
	font-size:100%;
}

@media only screen and (max-width: 800px) { html { font-size: 75%; } }
@media only screen and (max-width: 600px) { html { font-size: 66%; } }
@media only screen and (max-width: 400px) { html { font-size: 50%; } }

* {
	/*padding:0.3rem;*/
	color: rgba(80,80,80,0.8);
	box-sizing: border-box;
}

body {
	background: rgba(0,0,0,0.1);
	/*max-width: 600px;*/
	min-width: 300px;
	margin:auto;
	padding:1rem;
}

header, footer {
	background:rgba(255,255,255,0.8);
	display: block;
	height: 10%;
	width:100%;
	min-width: 300px;
	max-height: 200px;
	float:left;
	box-shadow: -0.25rem 0.25rem 0.8rem 0.25rem rgba(0,0,0,0.8);
}

header:after, #newevent:after, .doclear:after{
	content:"";
	display:block;
	clear:both;
}

header > h1 {
/*	position:relative;
	top:1em;
	left:1em;*/
	margin-top:2rem;
	margin-right:2rem;
	text-align: right;
}

main {
	padding:4rem;
	clear:both;
}

table, table i.fas {
	color:grey;
}

td .round_field, label .roundish_elem {
	margin:0;
}

label {
	display:block;
	padding:0;
}

label input, label textarea {
	display:block;
	width:100%;
}

label input[type=date], label input[type=time] {
	width:100%;
}

#date {
	width:25%;
}

/**************************
 ** Animations           **
 *************************/

.showable {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease-in-out 0.5s, visibility 0s;
}
.hideable {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s linear, visibility 0s linear 0.5s;
}

.shrinkable {
	top:0%;
	left:0%;
	transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

.movable {
	top:0%;
	left:0%;
	transition:top 0.5s, left 0.5s;
}

/**************************
 ** Utility              **
 *************************/

.left {
	float: left;
}

.square {
	position:relative;
//	width:30%;
}

.square:after {
	content: "";
	display:block;
	padding-bottom: 100%;
}

.sqr_content {
	position: absolute;
	width: 100%;
	height: 100%
}

/**************************
 ** Color                **
 *************************/

.transwhite {
	background: rgba(255,255,255,0.8);
}

.transblack {
	background: rgba(0,0,0,0.1);
}

.gradgreen {
	background-image: radial-gradient(
	circle at top right,
	#d2ffd3,
	#33ff36
	);
}

/**************************
 ** Header               **
 *************************/

#logo_holder {
	float:left;
	height:80%;
	width: auto;
	margin:1rem;
}


#logo_holder > img {
	height: 100%;
	max-height: 5rem;
	width: auto;
	object-fit: contain;
}

/**************************
 ** Utility elements     **
 *************************/

.round_btn {
	border-radius: 50%;
	box-shadow: 
		1.25rem -1.25rem 1.25rem 0.8rem rgba(0,0,0,0.4) inset,
		-1.25rem 1.25rem 1.25rem 0.45rem rgba(0,0,0,0.4);

    z-index: 1;
}


.roundish_elem {
	border:2rem;
	padding:1rem;
	border-radius: 1rem;
	box-shadow:
		-0.25rem 0.25rem 0.8rem 0rem rgba(0,0,0,0.4),
		0.25rem -0.25rem 0.8rem 0rem rgba(0,0,0,0.4) inset;
	margin:0.4rem;
}

.round_field {
	border:2rem;
	padding:1rem;
	border-radius: 2rem;
	box-shadow:
		0.25rem -0.25rem 0.8rem 0.4rem rgba(0,0,0,0.4) inset,
		-0.25rem 0.25rem 0.8rem 0.25rem rgba(0,0,0,0.4);
	/*margin:0.4rem;*/
}

.sharp_field {
	border:1rem;
	padding:1rem;
	box-shadow: -0.25rem 0.25rem 0.8rem rgba(0,0,0,0.4);
}

/**************************
 ** Login screen         **
 *************************/

#main_menu_hldr {
	margin:auto;
	max-width: 30rem;
}

#big_btn_hldr {
	width:100%;
	height:auto;
}

.large_btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5rem;
    margin-left: auto;
    margin-top:auto;
    margin-right: auto;
    margin-bottom: 0;
}

#login_holder {
	width:100%;
	visibility:hidden;
	opacity: 0;
	z-index: 2;
}

.login_field {
	position: relative;
	top:30%;
	left:50%;
	transform: translate(-50%, -30%);
}

.choice_btn {
	width:5rem;
	height:5rem;
	position:absolute;
	top:50%;
	left:50%;
	font-size: 3em;
	color:white;
	transition: top 0.5s, left 0.5s;
	transform:translate(-50%, -50%);
	/*visibility: hidden;*/
}

/**************************
 ** List screens         **
 *************************/